<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .headerWrapper {
    margin-bottom: 20px;
    white-space: nowrap;
    width: 100%;
  }

  h1,
  h2 {
    display: inline;
    max-width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 575px) {
    .form {
      flex-direction: row;
    }
  }
</style>

<div class="content" role="main">
  <div class="headerWrapper">
    <h1 [ngStyle]="{ 'font-size': eventTitleFontSize + 'vw' }" #header>
      Time to {{ eventTitle }}
    </h1>
  </div>
  <div class="headerWrapper">
    <h2
      *ngIf="timeLeft$ | async as time; else null"
      [ngStyle]="{ 'font-size': eventSubtitleFontSize + 'vw' }"
      #subheader
    >
      {{ time.days }} days, {{ time.hours }}h, {{ time.minutes }}m,
      {{ time.seconds }}s
    </h2>
  </div>

  <div class="form">
    <label for="eventTitle">Title:</label>
    <input
      type="text"
      [ngModel]="eventTitle"
      (ngModelChange)="onTitleChange($event)"
    />
    <label for="date">Date:</label>
    <input type="date" [(ngModel)]="eventTime" />
  </div>

  <!-- <ng-template #sorry>
      Sorry, something went wrong...
    </ng-template> -->
</div>
