<div class="content" role="main">
  <full-width-header [text]="'Time to ' + eventTitle"></full-width-header>

  <full-width-header
    *ngIf="timeLeft$ | async as time; else error"
    [text]="formatTime(time)"
  ></full-width-header>

  <div class="form">
    <div class="input-wrapper">
      <label for="eventTitle">Title</label>
      <input
        type="text"
        [ngModel]="eventTitle"
        (ngModelChange)="onEventTitleChange($event)"
      />
    </div>

    <div class="input-wrapper">
      <label for="date">Date</label>
      <input
        type="date"
        [ngModel]="eventTime"
        (ngModelChange)="onEventTimeChange($event)"
      />
    </div>
  </div>

  <ng-template #error>Sorry, something went wrong...</ng-template>
</div>
